{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "css/user.css" %}">
    <title>Login</title>
</head>
<body>
	{% include "components/header1.html" %}

    <form 
			action="{{ form_action }}"
			method="POST"
		>

			<!-- necessário para a segurança do método POST -->
			{% csrf_token %}  
		
			<div class="form-content">
			{% for field in form %}
				<div class="form-group">
					<label for="{{field.id_for_label}}">{{field.label}}</label>
					{{field}}
					{{field.errors}}
				</div>
			{% endfor %}
			</div>

			<div class="form-content">
				<div class="form-group">
					<button class="btn" type="submit">Enviar</button>
				</div>
			</div>

			{% if form.non_field_errors %}
			<div class="form-content">
				<div class="form-group">
					<div class="message error">
						{{form.non_field_errors}}
					</div>
				</div>
			</div>
			{% endif %}
		</form>
</body>
</html>
